* {
  font-family: "Lucida Grande", Sans-Serif;
}
h1 {
  font-size: 64px;
  text-align: center;
}
h2 { font-size: 30px;
text-shadow: 5px 5px 2px grey;
}
body {
  background-color: #000;
  color: #FFF;
}
img {
  width: 525px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
